<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace表示当前mapper的唯一标识：一般使用domain的全路径名+Mapper来命名-->
<!--<mapper namespace="com.fengye.domain.UserMapper">-->
    <!--&lt;!&ndash;id：方法表示，一般配置对应的方法；-->
        <!--resultType：表示该方法有返回，返回需要封装到对应实体的类型&ndash;&gt;-->
    <!--<select id="findAll" resultType="com.fengye.domain.User">-->
        <!--select * from user-->
    <!--</select>-->
<!--</mapper>-->